---
---

@import "{{ site.theme }}";
@import "jquery-ui";

body.flex-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 653px;
}

header.flex-header {
  margin: auto;
  //height: 160px;
}

div.main-container {
  flex: 1 100%;
  justify-content: space-around;
  margin: auto;
  //height: 400px;
}

section#main-content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
  margin-top: 40px;
}

footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: auto;
  //height: 40px;
  //margin: 40px auto;
  //bottom: 0;
  //position: relative;
}

#repositories {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

#repositories > .ui-state-default {
  border: none;
  color: #b5e853;
  background: rgba(0, 0, 0, 0.1);
}

#repositories > .ui-state-active {
  border: 1px dashed #b5e853;
}

#repositories > .ui-widget-content {
  border: 1px dashed #b5e853;
  border-top: 0;
  background: rgba(0, 0, 0, 0.1);
}

#repositories > .ui-widget-content a {
  color: rgba(255, 255, 255, 0.8)
}

#repositories h3 .ui-icon {
  background-image: url("../images/ui-icons_ffffff_256x240.png");
}

#projects_inner {
  margin: 0 auto;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

#projects_inner > .ui-state-default {
  border: none;
  color: #b5e853;
  background: rgba(0, 0, 0, 0.1);
}

#projects_inner > .ui-state-active {
  border: 1px dashed #b5e853;
}

#projects_inner > .ui-widget-content {
  border: 1px dashed #b5e853;
  border-top: 0;
  background: rgba(0, 0, 0, 0.1);
}

#projects_inner > .ui-widget-content a {
  color: rgba(255, 255, 255, 0.8)
}

#projects_inner h4 .ui-icon {
  background-image: url("../images/ui-icons_ffffff_256x240.png");
}

li.github-repo {
  list-style-image: url("../images/blacktocat.png");
}

li.none {
  list-style-image: none;
}